using System;
namespace ConsoleApplication1
{
    class Program
    {
        static void Main(string[] args)
        {
            string wort = Console.ReadLine();
            int erg = 0;
            foreach(char c in wort)
            {
                erg = erg + (int)c - 96;
            }
            Console.WriteLine(erg);
        }
    }
}
